<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="thumbnail">
        <!--<img src="http://dummyimage.com/800x100/eee/fff"-->
             <!--alt="...">-->

        <div class="caption">
          <h3><a href="<%= @blog.url %>" target="_blank"><%= @blog.name %></a></h3>

          <p>WebデザインやWebサイト制作、最新のWeb業界情報などを紹介していくサイト。</p>
          <ul class="list-inline">
            <li>
              <a href="#" class="btn btn-default btn-xs">PHP</a>
              <a href="#" class="btn btn-default btn-xs">Scala</a>
              <a href="#" class="btn btn-default btn-xs">Play framework</a>
              <a href="#" class="btn btn-default btn-xs">Rails</a>
              <a href="#" class="btn btn-default btn-xs">Vagrant</a>
              <a href="#" class="btn btn-default btn-xs">Swift</a>
              <a href="#" class="btn btn-default btn-xs">CentOS</a>
              <a href="#" class="btn btn-default btn-xs">HTML</a>
              <a href="#" class="btn btn-default btn-xs">Objective-C</a>
              <a href="#" class="btn btn-default btn-xs">CSS</a>
            </li>
          </ul>
          <p class="text-right"><a href="#" class="btn btn-success" role="button">+ このブログをフィード</a></p>
        </div>
      </div>
    </div>
  </div>
  <ul class="media-list col-md-8 col-md-offset-2">
    <% @articles.each do |article| %>
    <li class="media">
      <h4><small>今日</small></h4>
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="http://dummyimage.com/200x100/EEE/fff" alt="...">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><a href="<%= article.url %>" target="_blank"><%= article.name %></a></h4>
        WebクリエイターボックスのTwitter: @webcreatorboxでは毎日Webに関する記事や美しいデザイン・写真などを紹介しています。その中で今週人気だったつぶやきトップ10を紹介します。見逃してしまった人はこちらでチェック！まだフォローしてない人はお気軽にフォローしてみてくださいね！
      </div>
    </li>
    <% end %>
  </ul>

</div>
</div>
